//
   Created by scottbaron on 1/5/17.

head
    script(src="./../js/bundle.js")
body.account_backing
    div(id="layout" class="layout_override" style="margin-top:2%!important;")
        // Menu toggle
        a#menuLink.menu-link(href='#menu')
            span
        #menu.pure-menu(class="menu_width_override")
            a(href='/dashboard/main')
                img.menu_img_style(src="./../static/ondraftLogo.png")
            hr(size="1" width="70%")
            ul.pure-menu-list
                li.pure-menu-item(class="menu-height-override")
                    a.pure-menu-link(href='/dashboard/account-info') My Account
                li.pure-menu-item(class="menu-height-override")
                    a.pure-menu-link(href='/dashboard/brewery-info') My Brewery
                li.pure-menu-item(class="menu-height-override")
                    a.pure-menu-link(href="/dashboard/brew-page") Brews
                li.pure-menu-item(class="menu-height-override")
                    a.pure-menu-link(href='#' ) Payment Info
                li.pure-menu-item(class="menu-height-override")
                    a.pure-menu-link(href='/log-out') Sign Out
        #main
            span.dashboard_title() Brew Edit Form
            h4 #{message}
            div
                form(action="/dashboard/update-brew" method="POST" class="pure-form pure-form-stacked")
                    input(type='hidden' name='_csrf' value=_csrf)
                    input(type='hidden' name='brewId' value=brew.brew_id)
                    label.text_basic_color_override(for='brewName' class='modal-content-padding') Brew Name
                    input.pure-input-1-2(type='text' id='brewName' name='brewName' value=brew.brew_name)
                    label.text_basic_color_override(for='brewStyle') Brew Style
                    input.pure-input-1-2(type='text' id='brewStyle' name='brewStyle' value=brew.brew_style)
                    label.text_basic_color_override(for='brewAbv') Brew ABV
                    input.pure-input-1-2(type='text' id='brewAbv' name='brewAbv' value=brew.brew_abv)
                    label.text_basic_color_override(for='brewIbu') Brew IBU
                    input.pure-input-1-2(type='text' id='brewIbu' name='brewIbu' value=brew.brew_ibu)
                    label.text_basic_color_override(for='brewSum') Brew Summary
                    input.pure-input-1-2(type='text' id='brewSum' name='brewSum' value=brew.brew_summary)
                    label.text_basic_color_override(for='brewAvaNow') Brew Available Now?
                    input.pure-input-1-2(type='checkbox' id='brewAvaNow' name='brewAvaNow' value=brew.brew_avaliable_now)
                    label.text_basic_color_override(for='brewAvaStartDate') Brew Available Starts
                    input.pure-input-1-2(type='date' id='brewAvaStartDate' name='brewAvaStartDate' value=brew.brew_avaliable_start)
                    label.text_basic_color_override(for='brewAvaEndDate') Brew Available Ends
                    input.pure-input-1-2(type='date' id='brewAvaEndDate' name='brewAvaEndDate' value=brew.brew_avaliable_end)
                    button(type='submit' class='pure-button ondraft_button_primary modal-content-padding' value='brewCreate') Update
