//
   Created by scottbaron on 12/25/16.

head
    script(src="./../js/bundle.js")
body.account_backing
    div(id="layout" class="layout_override")
        // Menu toggle
        a#menuLink.menu-link(href='#menu')
            span
        #menu.pure-menu(class="menu_width_override")
                a(href='/dashboard/main')
                    img.menu_img_style(src="./../static/ondraftLogo.png")
                ul.pure-menu-list
                    li.pure-menu-item(class="menu-height-override")
                        a.pure-menu-link(href='/dashboard/brewery-info') My Brewery
                    li.pure-menu-item(class="menu-height-override")
                        a.pure-menu-link(href='/dashboard/brew-page') Brews
                    li.pure-menu-item(class="menu-height-override")
                        a.pure-menu-link(href='#') Payment Info
                    li.pure-menu-item(class="menu-height-override")
                        a.pure-menu-link(href='/log-out') Sign Out
        #main
            span.dashboard_title() Account Information
            h4 #{message}
            div()
                form(action='/dashboard/update-account' method='POST' class='pure-form')
                    input(type='hidden', name='_csrf', value=_csrf)
                    fieldset(class='pure-group')
                        legend.sub-heading() Sign-in Information
                        input.pure-input-1-2(type='email' id='userEmail' name='userEmail' value=userEmail readonly=true)
                        a(class='pure-button ondraft_button_primary' id='modalToggleBtn' style="margin-top:15px;") Change Password
                    fieldset(class='pure-group')
                        legend.sub-heading() Personal Information
                        input.pure-input-1-2(type='text' name='userFirstName' placeholder='First Name' value=userFirst)
                        input.pure-input-1-2(type='text' name='userLastName' placeholder='Last Name' value=userLast)
                        input.pure-input-1-2(type='tel' name='userPhone' placeholder='Phone Number' value=userPhone)
                    button(type='submit' class='pure-button ondraft_button_primary' value='userInfo') Update Account

        div.modal(id='modalElement')
            div.modal-content()
                div.modal-header(class='pure-g')
                    h3(class='pure-u-22-24') Change Your Password
                    span.close(class='pure-u-2-24 modal-close') &times;
                div.modal-body()
                    if error !== undefined
                        script.
                            document.addEventListener("DOMContentLoaded", function (event) {
                                errorModalOpen()
                            });
                        h5() Passwords Didn't Match, Please try again
                    form(action='/dashboard/password-update', method='POST' class='pure-form pure-form-stacked')
                        input(type='hidden', name='_csrf', value=_csrf)
                        label(for='userPass' class='modal-content-padding') New Password
                        input.pure-input-1-2(type='password' id='userPass' name='userPass' placeholder='New Password')
                        label(for='userPassCheck') Re-enter the New Password
                        input.pure-input-1-2(type='password' id='userPassCheck' name='passCheck' placeholder='Re-enter Password')
                        button(type='submit' class='pure-button pure-button-primary modal-content-padding' value='passwordChange') Update Password
    script(src="./../js/basicModal.js")
